.sidebar{
  position: fixed;
  left:0;
  bottom: 0;
  top:56px;
  width: 72px;
  background-color: white;
  padding-top: 5px;
  z-index: 200;
  
}

.sidebar-link{
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(227, 227, 227);
}
.sidebar-link img{
  width: 30px;
  padding: 10px;
}
.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 10px;
}